@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="~/Home/Login" method="post">
<table><tr>
    <td>UserName</td>
    <td><input id="UserName" name="UserName" type="text" /></td>
    </tr>
    <tr>
    <td>Password</td>
    <td> <input id="Password" name="Password" type="password" /></td>
       </tr>
    <tr>
        
    <td><input id="Btnlogin" type="submit" value="Login" /></td>
    <td></td>
       </tr>
    @Html.ActionLink("Register","Register","Home")

</table>
</form>