@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table><tr>
    <td>UserName</td>
    <td><input id="UserName" type="text" /></td>
    </tr>
    <tr>
    <td>Password</td>
    <td> <input id="Password" type="password" /></td>
       </tr>
    <tr>
    <td>Confirm Password</td>
    <td> <input id="ConfirmPassword" type="password" /></td>
       </tr>
    <tr>
    <td>EmailId</td>
    <td> <input id="EmailId" type="email" /></td>
       </tr>
    <tr>
        
    <td><input id="BtnRegister" type="button" value="Register" /></td>
    <td></td>
       </tr></table>
